# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.*
auth.json

# Laravel storage (stateless di Vercel)
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/*.key
storage/pail

# Public build
public/build
public/hot
public/storage

# Tests & cache
.phpunit.cache
.phpunit.result.cache
.phpactor.json

# IDE & OS
.idea/
.vscode/
.fleet/
.zed/
nova/
.DS_Store
Thumbs.db

# Homestead
Homestead.yaml
Homestead.json

.vercel
